language: go

go:
  - tip

before_install:
  - echo 'deb http://repo.reverbrain.com/precise current/amd64/' | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update -qq
  - sudo apt-get install elliptics-dev elliptics-client elliptics libboost-system-dev --force-yes
  - go get golang.org/x/tools/cmd/cover
  - go get gopkg.in/check.v1

script:
  - go test -v -coverprofile=coverage.out  -covermode=atomic ./elliptics
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
  - "master"
